table {
    width: 100%;
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }